<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gerenciador Zipper XML</title>
  @entryPointStyles('app')
  @entryPointScripts('app')
</head>
<body class="container-md mx-auto">

  <main class="bg-slate-800/75 rounded px-7 py-4 shadow-2xl m-auto my-4">
